/* main */
* {
  text-decoration: none !important;
  list-style: none !important;
  outline: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  background-color: #7dd8eb;
}
.font-impact {
  font-family: "Impact", sans-serif;
  font-size: 80px;
}
.btn:hover {
  background-color: white;
  color: black;
}
span {
text-shadow: 1px 4px 5px rgba(0, 0, 0, 0.3);
}